h1 {
    background-color: blue;
    color: red
}

* {
    font-family: "Courier New";
    box-sizing: border-box;
}

#header {
    border: 21px dotted orange
}

#description {
    color: green;
    background-color: pink;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}

.font-courier {
    font-family: courier;
}

.line-through {
    text-decoration: line-through;
}

#selector-demo > div {
    background-color: pink;
}

#selector-demo p {
    background-color: yellow;
}

#child, 
#child3 {
    color: orange;
}

#box-model-example {
    width: 300px;
    height: 300px;
    background-color: lightblue;
    padding-right: 30px;
    padding-left: 10px;
    border-left: 20px solid red;
}

.box {
    width: 100px;
    height: 100px;
    background-color: pink;
    border: 2px blue solid;
}

/* #box2 {
    position: relative;
    top: 20px;
    left: 20px;
} */

/* #box2 {
    position: absolute;
    top: 20px;
    left: 20px;
} */

#box2 {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: -1;
}

#flexbox-example {
    display: flex;
    flex-direction: row;
}

#flexbox-2 {
    flex-grow: 1;
}